.button, .blue-button{
  display: inline-block;
  padding: 8px 20px;
  border-width: 3px;
  border-style: solid;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}

.button{
  background-color: inherit;
  color: inherit;
}

.blue-button{
  background-color: $blue300;
  border-color: $blue300;
  color: #fff;
  &:hover{
    background-color: $blue400;
    border-color: $blue400;
  }
}

.hero{
  .buttons{
    margin: 20px 0;
    font-size: 22px;

    .button{
      margin-right: 15px;
      &:hover{
        background-color: #fff;
        border-color: #fff;
        color: #000;
      }
    }
  }
}
