#why{
  font-size: 18px;

  .intro{
  text-align: center;
  @include center-container($mainContainer);
  padding: 80px 200px;
    h2{
      margin-bottom: 20px;
    }
  }

  //Commons Why Block
  .block{
    @include center-container($mainContainer);
    display: flex;
    align-items: center;
    padding-bottom: 80px;

    & .block-img, & .block-text{
      margin: 20px;
    }

    & .block-img{
      flex-basis: 60%;
      background-color: lightgreen;
      min-height: 300px;
    }
    & .block-text{
      flex-basis: 40%;
    }
  }

  .block:nth-child(odd){
    flex-flow: row-reverse;
  }
}
