#why{
  font-size: 18px;
  font-weight: 600;
  p{
    margin: 20px 0;
  }
  a{
    text-decoration: none;
    color: $blue300;
    &:hover{
      text-decoration: underline;
    }
  }
  .intro{
  text-align: center;
  @include center-container($mainContainer);
  padding: 80px 200px;
  }

  //Commons Why Block
  .block{
    @include center-container($mainContainer);
    display: flex;
    align-items: center;
    padding-bottom: 80px;

    & .block-img, & .block-text{
      margin: 20px;
    }

    & .block-img{
      flex-basis: 55%;
      min-height: 300px;

      video, img{
        width: $fullContainer;
      }
    }
    & .block-text{
      flex-basis: 45%;
    }
  }

  .block:nth-child(odd){
    flex-flow: row-reverse;
  }
}
